.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #EFF6E0;
    background-image: url('../../assets/image-mapa.jpg');
    background-size: cover;
}

.formCadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #EFF6E0;
    border-radius: 10px;
}

.textFields {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    width: 100%;
}

.textFieldsCep {
    display: grid;
    grid-template-columns: 1.3fr 3fr 2fr 0.6fr;
    gap: 1rem;
}

.textFieldsCep2 {
    display: grid;
    grid-template-columns: 1.5fr 3fr 3fr;
    gap: 1rem;
}