.container {
    width: 100vw;
    background-color: #EFF6E0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.title {
    color: #01161E;
}

.cardContainer {
    display: flex;
    width: 65%;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.card {
    display: flex;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    width: 50%;
}

.buttons {
    display: flex;
    width: 100%;
    justify-content: end;
    margin-top: 0.5rem;
    gap: 0.5rem;
}

.inputs {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.inputsEndereco {
    display: grid;
    grid-template-columns: 3fr 2fr 0.7fr;
    gap: 1rem;
}

.inputsQuadruplo {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr 2fr;
    gap: 1rem;
}

.titleContainer {
    display: flex;
    width: 100%;
    height: 15vh;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem 0 2.5rem;
}

.semLocais {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 65vh;
    padding-bottom: 15vh;
}

@media (max-width: 800px) {
    .titleContainer {
        font-size: 12px;
        padding: 0 1rem;

    }

    .titleContainer button {
        font-size: 9px;
    }

    .titleContainer a {
        width: 40vw;
    }

    .cardContainer {
        width: 90%;
    }

    .card {
        flex-direction: column;
    }

    .map {
        width: 100% !important;
    }

    .form {
        width: 100%;
    }

    .inputs {
        display: grid;
        grid-template-columns: 3fr 2fr;
    }

    .inputsEndereco {
        grid-template-columns: 2fr 1fr 0.7fr;
    }

    .inputsQuadruplo {
        margin-top: 0.5rem;
        grid-template-columns: 1fr 1.5fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media ((min-width: 801px) and (max-width: 1200px)) {
    .cardContainer {
        width: 90%;
    }
}